.react-calendar-timeline {
  margin: 1%;
  Box-shadow: -10px 10px 30px 2px rgba(0, 0, 0, 0.08);
}

.react-calendar-timeline .rct-dateHeader-primary {
    background-color: initial;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    color: #fff;
    font-size: 16px;
    font-weight: 700 !important;
}

.react-calendar-timeline .rct-dateHeader {
    font-size: 16px;
    font-weight: 400
}

.react-calendar-timeline .rct-header-root {
    background: #242424;
    border-bottom: 1px solid #bbb;
}
