::-webkit-scrollbar-thumb {
  background: #C7C7C7;
  border-radius: 16px;
  border: solid 3px transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
  border-radius: 16px;
  border: solid 3px transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  background: transparent;
  width: 14px;
}
